{% extends 'bank/manager/manager_base.html' %}
{% block content %}
    <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Passport series</th>
        <th scope="col">Passport number</th>
        <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody>
  {% for user in applications %}
      <tr>
      <th scope="row">{{ user.first_name }}</th>
      <td>{{ user.last_name }}</td>
      <td>{{ user.passport_series }}</td>
      <td>{{ user.passport_numer }}</td>
      <td>{{ user.age }}</td>
    </tr>
  {% endfor %}

  </tbody>
{% endblock %}